<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>
<p>ユーザー検索</p>
<%= form_tag(users_path, :method => 'get' ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil %>
<% end %>


<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>