<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>

<%= form_tag import_users_path, :style=>"color:white;", class: 'form-btn', multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "CSVをインポート" ,:style=>"color:white;", class: "btn btn-sm btn-primary"%>
<% end %>

<%= link_to "CSV出力", users_path(format: :csv), class: "btn btn-primary" %>

<p>ユーザー検索</p>
<%= form_tag(users_path, :method => 'get' ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil %>
<% end %>


<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>