<% provide(:title, @user.name) %>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <div class="header">
        <tr>
          <th class="table-header">
            <%= link_to "←",user_url(params: { id: @user.id, first_day: @first_day.prev_month }),  
              style:"color:black", class: 'btn' %>
              <%= @first_day.strftime("%Y年%m月") %> 時間管理表
                <%= link_to "→", user_url(params: { id: @user.id, first_day: @first_day.next_month }), 
              style:"color:black", class: 'btn' %>
          </th>
          <th class="table-header"> 指定勤務時間:
            <%= format("%.2f", ((@user.design_work_hour.hour*60.0) + @user.design_work_hour.min)/60) if !@user.nil? && !@user.design_work_hour.nil? %>
          </th>
          <th colspan="3" class="table-header"> 基本時間:
            <%= format("%.2f", ((@user.basic_work_hour.hour*60.0) + @user.basic_work_hour.min)/60) if !@user.nil? && !@user.basic_work_hour.nil? %>
          </th>
          </th>
          <th class="table-header">初日:
            <%= @first_day %>
          </th>
        </tr>
        <tr>
          <th class="table-header">所属:
            <%= @user.affiliation %>
          </th>
          <th class="table-header">氏名:
            <%= @user.name %>
          </th>
          <th class="table-header">コード:
            <%= @user.user_id %>
          </th>
          <th class="table-header"></th>
          <th class="table-header">出勤日数:
            <%= @attendance_days %>日</th>
          <th class="table-header">締め:
            <%= @last_day %>
          </th>
        </tr>
      </div>
    </thead>
  </table>
  
  <%= render 'edit_attendance' if current_user == @user %>  
  <%= render 'one_month_attendance' if current_user == @user %>
  <%= render 'overtime_work' if current_user == @user %>  
  <!--attendance_edit_pathに、userのidと今月の値を渡す-->
  <%= link_to "勤怠を編集", edit_attendance_path(@attendances, params: { id: @user.id, first_day: @first_day }), :style=>"color:white;", class: "btn btn-sm btn-primary"  %>
  <%= link_to "CSV出力", att_export_path(@attendance, params: { id: @user.id, first_day: @first_day, format: :csv}), :style=>"color:white;", class: "btn btn-sm btn-primary" %>
  <table class="table table-bordered table-striped table-condensed">
    <thead align="center">
      <tr>
        <th rowspan="3" class="table-header">残業申請</th>
        <th rowspan="3" class="table-header">日付</th>
        <th rowspan="3" class="table-header">曜日</th>
        <th colspan="8" class="table-header">【実績】</th>
        <th colspan="6" class="table-header">所定外勤務</th>
      </tr>

      <tr>
        <th colspan="3" class="table-header" 　align="center">出社</th>
        <th colspan="3" class="table-header" 　align="center">退社</th>
        <th rowspan="3" class="table-header" 　align="center">在社時間</th>
        <th rowspan="3" class="table-header" 　align="center">備考</th>
        <th colspan="3" class="table-header" 　align="center">終了予定時間</th>
        <th rowspan="3" class="table-header" 　align="center">時間外</th>
        <th rowspan="3" class="table-header" 　align="center">業務処理</th>
        <th rowspan="3" class="table-header" 　align="center">指示確認㊞</th>
      </tr>
      <tr>
        <th class="table-header">時</th>
        <th class="table-header">分</th>
        <th class="table-header"> </th>
        <th class="table-header">時</th>
        <th class="table-header">分</th>
        <th class="table-header"> </th>
        <th class="table-header">時</th>
        <th class="table-header">分</th>
        <th class="table-header"> </th>        
      </tr>
    </thead>
    <tbody>
      <!-- users_controller.rbの@attendancesの中身を見にいく-->
      <% total_present_time = 0 %>
      <% @attendances.each do |attendance| %>
        <tr>
          <!-- 残業申請 -->
          <td class="table-body">
            <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target=#Modal
              data-type="#Modal"
              data-date="<%= attendance.day.month %>/<%= attendance.day.day %>"
              data-hidden_date="<%= attendance.day.month %>/<%= attendance.day.day %>"
              data-day_of_week="<%= @day_of_week[attendance.day.wday] %>">
              残業申請
            </button>
            <div class="modal fade" id="Modal">
              <!-- モーダルコンテント:モーダルに表示させる内容-->
              <div class="modal-content" id="attendance<%= attendance.id %>">
                <!-- モーダルコンテントのヘッダー部分-->
                <div class="modal-header">
                  <!-- &timesは「×ボタン」の表示--><button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title" align="center">【残業申請】</h3>
                  <%= form_for(attendance, url: one_overtime_application_path, method: :post ) do |f| %>
                    <%= f.hidden_field :id, :value => attendance.id %>
                    <%= f.hidden_field :user_id, :value => @user.id %>
                    <%= f.hidden_field :first_day, :value => @first_day %>
                </div>
                <div class="modal-body">
                  <table class="table table-bordered table-striped table-condensed">
                    <thead>
                      <tr>
                        <th class="table-header">日付</th>
                        <th class="table-header">曜日</th>
                        <th class="table-header">終了予定時間</th>
                        <th class="table-header">翌日</th>
                        <th class="table-header">業務処理内容</th>
                        <th class="table-header">指示者確認㊞</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="table-body modal-date">
                          <%= attendance.day.month %>/<%= attendance.day.day %>
                        </td>
                        <td class="table-body modal-dayOfWeek">
                          <%= @day_of_week[attendance.day.wday] %>
                        </td>
                        <!-- 終了予定時間の表示  -->
                        <td class="table-body">
                          <%= f.datetime_select :schedule_end_time, {discard_year: true, discard_month: true, discard_day: true, include_blank: true}, {class: "form-control bootstrap-date-only-width schedule_end_time"} %>
                        </td>
                        <!-- 翌日のチェックボックスの表示  -->
                        <td class="table-body">
                          <%= check_box_tag :check %>
                        </td>
                        <!-- 業務処理内容の表示  -->
                        <td class="table-body">
                          <%= f.text_field :business_processing, class: 'form-control'%>
                        </td>
                        <!-- 指示者確認印の表示  -->
                        <td class="table-body">
                          <% if !attendance.authorizer_user_id.blank? && !User.find_by(id: attendance.authorizer_user_id).blank? %>
                            <% if attendance.applying? %>
                              <%= User.find_by(id: attendance.authorizer_user_id).name %>へ申請中
                            <% elsif attendance.approval? %>
                              <%= User.find_by(id: attendance.authorizer_user_id).name %>から承認済
                            <% elsif attendance.denial? %>
                              <%= User.find_by(id: attendance.authorizer_user_id).name %>から否認
                            <% else %>
                            <% end %>
                          <% end %>
                          <%= f.collection_select :authorizer_user_id, @superior_users, :id, :name, {:include_blank => true, :selected => 0}, {:class => "form-control authorizer_user_id"} %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <%= f.submit "変更を送信する", class: "btn btn-md btn-primary" %>
                </div>
                <!--<button class="btn btn-lg btn-primary">変更を送信する</button>-->
              </div>
              <% end %>
            </div>
          </td>
          <!--日付-->
          <td class="table-body">
            <%= attendance.day.month %>/<%= attendance.day.day %>
          </td>
          <!--曜日-->
          <td class="table-body">
            <%= @day_of_week[attendance.day.wday] %>
          </td>
          <!-- 出社時間の表示  -->
          <td class="table-body">
            <%= attendance.attendance_time.hour if !attendance.attendance_time.nil? %>
              <% if attendance.day == DateTime.new(DateTime.now.year, DateTime.now.month, DateTime.now.day) && attendance.attendance_time.nil?%>
                <%= link_to "出社", attendance_path(params: {attendance: {id:attendance.id , attendance_time:DateTime.current}}), :method => :post %>
              <% end %>
          </td>
          <td class="table-body">
            <%= attendance.attendance_time.min if !attendance.attendance_time.nil? %>
          </td>
          <td class="table-body"> </td>
          <!-- 退社時間の表示  -->
          <td class="table-body">
            <%= attendance.leaving_time.hour if !attendance.leaving_time.nil? %>
              <% if attendance.day == Date.current && attendance.attendance_time.present? && attendance.leaving_time.nil? %>
                <%= link_to "退社", leaving_path(params: {attendance: {id:attendance.id , leaving_time:DateTime.current}}), :method => :post %>
              <% end %>
          </td>
          <td class="table-body">
            <%= attendance.leaving_time.min if !attendance.leaving_time.nil? %>
          </td>
          <td class="table-body"> </td>
          <!-- 在社時間の表示  -->
          <td class="table-body">
            <% if !attendance.attendance_time.nil? && !attendance.leaving_time.nil? %>
              <% present_time = (attendance.leaving_time - attendance.attendance_time) / 3600 %>
              <% total_present_time += present_time %>
              <%=format("%.2f", present_time) %>
            <% end %>
          </td>
          <!-- 備考の表示  -->
          <td class="table-body"> </td>
          <!-- 終了予定時間(時)の表示  -->
          <td class="table-body"> </td>
          <!-- 終了予定時間(分)の表示  -->
          <td class="table-body"> </td>
          <td class="table-body"> </td>
          <!-- 時間外の表示  -->
          <td class="table-body"> </td>
          <!-- 業務処理の表示  -->
          <td class="table-body"> </td>
          <!-- 指示確認㊞の表示  -->
          <td class="table-body"> </td>          
        </tr>
        <% end %>
        
        <tr>
          <td colspan="2" class="table-body"></td>
          <td colspan="6" class="table-body"></td>
          <!-- 合計在社時間の表示 -->
          <td class="table-body">
            <%= format("%.2f", total_present_time) %>
          </td>
          <td colspan="1" class="table-body"></td>
          <!-- 終了予定時間(時)の表示  -->
          <td class="table-body"> </td>
          <!-- 終了予定時間(分)の表示  -->
          <td class="table-body"> </td>
          <!-- 時間外の表示  -->
          <td class="table-body"> </td>
          <!-- 業務処理の表示  -->
          <td class="table-body"> </td>
          <!-- 指示確認㊞の表示  -->
          <td class="table-body"> </td>
          <!-- 業務処理の表示  -->
          <td class="table-body"> </td>
          <!-- 指示確認㊞の表示  -->
          <td class="table-body">所属長承認　
            <% if @one_month_attendance.blank? || @one_month_attendance.authorizer_user_id.blank? %>
              未
            <% elsif @one_month_attendance.applying? %>
              <%= User.find_by(id: @one_month_attendance.authorizer_user_id).name %>へ申請中
            <% elsif @one_month_attendance.approval? %>
              <%= User.find_by(id: @one_month_attendance.authorizer_user_id).name %>から承認済
            <% elsif @one_month_attendance.denial? %>
              <%= User.find_by(id: @one_month_attendance.authorizer_user_id).name %>から否認
            <% end %>
            <% if current_user == @user  %>
              <%= form_for(@new_one_month_attendance, url: onemonth_application_url, :html => {:class => "one-month-attendance-form"}) do |f| %>
                <%= f.hidden_field :application_user_id, :value => "#{@user.id}"%>
                <%= f.hidden_field :application_date, :value => "#{@first_day}"%>
                <%= f.hidden_field :first_day, :value => "#{@first_day}"%>
                <%= f.collection_select :authorizer_user_id, @superior_users, :id, :name, {:include_blank => true, :selected => 0}, {:class => "form-control one-month-attendance"} %>
                <%= f.submit "申請", class: "btn btn-lg btn-primary" %>
              <% end %>
            <% end %>
          </td>   
        </tr>
    </tbody>
  </table>
  
  <script>
   //モーダルに日付と曜日を持たせる処理 
   $('#Modal').on('show.bs.modal', function (event) { // ボタンがクリックされてモーダルが開いたらイベント発生
   　
    // クリックされたbuttonを取得
    var button = $(event.relatedTarget); 

    // 上記の中の、data-dateの値を取得
    var date = button.data('date'); 

    // クリックされているsampleModal要素を取得
    var modal = $(this); 

    // sampleModalの中のmodal-dateという要素を取得し、そこにdata-dateの値を入れる。これでクリックした日付の日付がモーダル内に入る
    modal.find('.modal-date').text(date); 

    // 日付をhiddenで送信したかったので上記と同様に処理
    var button = $(event.relatedTarget);
    var hidden_date = button.data('hidden_date');
    var modal =$(this);
    modal.find('.modal-hiddenDate').val(hidden_date);
    
    var button = $(event.relatedTarget);
    var day_of_week = button.data('day_of_week');
    var modal =$(this);
    modal.find('.modal-dayOfWeek').text(day_of_week);

   });
  </script>